{sub_dirs, [
            "apps/sue",
            "rel"
           ]}.
{erl_opts,[{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
	{erlbuild, ".*", {git, "git@github.com:ulfa/erlbuild.git", "HEAD"}},	
	{erlib, ".*", {git, "git@github.com:ulfa/erlib.git", "HEAD"}},
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", "HEAD"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}	
  ]}.
